{% extends "base.html" %} {% block title %}Home{% endblock %}


{% block content %}

<html>
<head>

<style>
body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
  font-size: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.p1{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
</style>
</head>


<body>

<br>
<div >
    <h1 > Personal Mood Tracker</h1>
    <img src='https://cdn.dribbble.com/users/37637/screenshots/4857499/dribble_logo.png' alt="Image" class="center">
</div>

<div class = "p1">
    <p>Improve your mental status via incoporating regular and timely mental health notes to help us track and
    suggest you the most relevant practise and meditation resources! Made with love by Shaikat Majumder :)</p>
</div>

</body>
</html>


{% endblock %}